@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new Stylist</h4>
@using (Html.BeginForm())
{
    @Html.Label("Name")
    @Html.TextBoxFor(model => model.StylistName)

    @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty)
    <input type="submit" value="Add new Stylist" />
}
<p>@Html.ActionLink("Back to Stylists List", "Index")</p>