@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a New Client</h4>
@using (Html.BeginForm())
{
  @Html.Label("Client Name")
  @Html.TextBoxFor(model => model.ClientName, new { @required = "required"})

  @Html.Label("Phone Number (numbers only)")
  @Html.TextBoxFor(model => model.PhoneNumber)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <input type="submit" value="Add Client" class="btn btn-default"/>
  @Html.HiddenFor(model => model.Stylist)
}
<p>@Html.ActionLink("Return to Client List", "Index")</p>
<p>@Html.ActionLink("Return to Stylist List", "Index", "Stylists")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>