@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit Client Details</h2>

<h4>Edit this Client: @Html.DisplayFor(model => model.ClientName)</h4>

@using (Html.BeginForm())
{
  <div class="form">
    @Html.HiddenFor(model => model.ClientId)

    @Html.LabelFor(model => model.ClientName)
    @Html.EditorFor(model => model.ClientName)

    @Html.LabelFor(model => model.PhoneNumber)
    @Html.EditorFor(model => model.PhoneNumber)

    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")

    <input class="btn btn-default" type="submit" value="Save" />
  </div>
}
<p>@Html.ActionLink("Cancel", "Index")</p>

<div id="footer">
  <p>
    @Html.ActionLink("Return Home", "Index", "Home")
  </p>
</div>