@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>List of Clients</h1>

@if (@Model.Count == 0)
{
  <h3>No Clients have been Added Yet!</h3>
} 

<ul>
  @foreach (Client client in Model)
  {
    <li><span class="clientName">@Html.ActionLink($"{client.ClientName}", "Details", new { id = client.ClientId })</span> | @Html.ActionLink($"{client.Stylist.StylistName}", "Details", "Stylists", new { id = client.StylistId })</li>
  }
</ul>
<div id="footer">
  <p>
    @Html.ActionLink("Add new Client", "Create") |
    @Html.ActionLink("See all Stylists", "Index", "Stylists") |
    @Html.ActionLink("Return Home", "Index", "Home")
  </p>
</div>
